# ~/.config/starship.toml

add_newline = true
command_timeout = 1000
format = """$os$username$shell$hostname$kubernetes$directory$git_branch$git_status\n\n"""

# Drop ugly default prompt characters

[character]
success_symbol = ''
error_symbol = ''
vimcmd_symbol = ''
vimcmd_visual_symbol = ''
vimcmd_replace_symbol = ''
vimcmd_replace_one_symbol = ''

# ---

[os]
format = '[$symbol](bold white) '
disabled = false

[os.symbols]
Windows = ''
Arch = '󰣇'
Ubuntu = ''
Macos = '󰀵'

# ---y

# Shows the username

[username]
style_user = 'white bold'
style_root = 'black bold'
format = '[$user]($style) '
disabled = false
show_always = true

# Shows the hostname

[hostname]
ssh_only = true
format = '󰇄 [$hostname](bold yellow) '
disabled = false

# Shows current directory

[directory]
truncation_length = 1
truncation_symbol = '…/'
home_symbol = '󰋜 ~'
read_only_style = '197'
read_only = '  '
format = ' [$path]($style)[$read_only]($read_only_style) '
style = "italic bold "

# Shows current git branch

[git_branch]
symbol = ' '
format = '[$symbol$branch]($style)'

# truncation_length = 4

truncation_symbol = '…/'
style = 'bold green'

# Shows current git status

[git_status]
format = '([\( $all_status$ahead_behind\)]($style) )'
style = 'bold green'
conflicted = '[ confliced=${count}](red) '
up_to_date = '[󰘽 up-to-date](green) '
untracked = '[󰋗 untracked=${count}](red) '
ahead = ' ahead=${count}'
diverged = ' ahead=${ahead_count}  behind=${behind_count}'
behind = ' behind=${count}'
stashed = '[ stashed=${count}](green) '
modified = '[󰛿 modified=${count}](yellow) '
staged = '[󰐗 staged=${count}](green) '
renamed = '[󱍸 renamed=${count}](yellow) '
deleted = '[󰍶 deleted=${count}](red) '

# Shows kubernetes context and namespace

[kubernetes]
format = '[󱃾 $context\[$namespace\]](bold blue) '
disabled = false

# Shows current shell with icon
[shell]
format = "[$indicator](bold cyan) "
disabled = false
zsh_indicator = ""
bash_indicator = ""
nu_indicator = "󰌌"
fish_indicator = ""
powershell_indicator = ""
unknown_indicator = ""
